.pass_show{
    position: relative
}

.pass_show .ptxt {

    position: absolute;

    top: 50%;

    right: 10px;

    z-index: 1;

    color: #f36c01;

    margin-top: -10px;

    cursor: pointer;

    transition: .3s ease all;

}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main-content {
    display: flex;
    flex: 1;
}
.left-menu {
    flex: 0 0 200px; /* Fixed width for left menu */
    background-color: #f8f9fa;
}
.content {
    flex: 1;
    padding: 20px;
}

.pass_show .ptxt:hover{
    color: #333333;
}
.pass_show {
    position: relative;
}
.pass_show .form-control {
    padding-right: 30px;
}
.pass_show .fa {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
@media (max-width: 768px) {
    .left-menu {
        display: none;
    }
}
