<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagementLodgingHouses</servlet-name>
        <servlet-class>controller.ManagementLodgingHouses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchLodgingHouses</servlet-name>
        <servlet-class>controller.SearchLodgingHouses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLodgingHouse</servlet-name>
        <servlet-class>controller.DeleteLodgingHouse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmInvestmentCostsServlet</servlet-name>
        <servlet-class>controller.ConfirmInvestmentCostsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewManagerHouse</servlet-name>
        <servlet-class>controller.AddNewManagerHouse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationWaitingRoom</servlet-name>
        <servlet-class>controller.NotificationWaitingRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagementmanagerLodgingHouse</servlet-name>
        <servlet-class>controller.ManagementmanagerLodgingHouse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListNotification</servlet-name>
        <servlet-class>controller.ListNotification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNotification</servlet-name>
        <servlet-class>controller.UpdateNotification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchNotification</servlet-name>
        <servlet-class>controller.SearchNotification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTenancyDeposit</servlet-name>
        <servlet-class>controller.AddTenancyDeposit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTenancyDepositServlet</servlet-name>
        <servlet-class>controller.ViewTenancyDepositServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTenancyDepositServlet</servlet-name>
        <servlet-class>controller.UpdateTenancyDepositServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTenancyDepositServlet</servlet-name>
        <servlet-class>controller.DeleteTenancyDepositServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusTenancyDepositServlet</servlet-name>
        <servlet-class>controller.ChangeStatusTenancyDepositServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListHistoryTenancyDepositServlet</servlet-name>
        <servlet-class>controller.ListHistoryTenancyDepositServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailNotification</servlet-name>
        <servlet-class>controller.DetailNotification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListNotificationLandlord</servlet-name>
        <servlet-class>controller.ListNotificationLandlord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewReceipt</servlet-name>
        <servlet-class>controller.AddNewReceipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetatilNotificationLandlord</servlet-name>
        <servlet-class>controller.DetatilNotificationLandlord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomDetailServlet</servlet-name>
        <servlet-class>controller.RoomDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomDetailForTenant</servlet-name>
        <servlet-class>controller.RoomDetailForTenant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListNotificationForTenant</servlet-name>
        <servlet-class>controller.ListNotificationForTenant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNotificationForTenant</servlet-name>
        <servlet-class>controller.UpdateNotificationForTenant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchNotificationForTenant</servlet-name>
        <servlet-class>controller.SearchNotificationForTenant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerListReceipt</servlet-name>
        <servlet-class>controller.ManagerListReceipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListNotificationForManager</servlet-name>
        <servlet-class>controller.ListNotificationForManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchReceipt</servlet-name>
        <servlet-class>controller.SearchReceipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetReceiptBySelect1</servlet-name>
        <servlet-class>controller.GetReceiptBySelect1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceInRoomServlet</servlet-name>
        <servlet-class>controller.ServiceInRoomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServiceInRoomServlet</servlet-name>
        <url-pattern>/service-in-room-servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateReceipt</servlet-name>
        <servlet-class>controller.UpdateReceipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteReceipt</servlet-name>
        <servlet-class>controller.DeleteReceipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailReceipt</servlet-name>
        <servlet-class>controller.DetailReceipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailNewReceipt</servlet-name>
        <servlet-class>controller.DetailNewReceipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteManager</servlet-name>
        <servlet-class>controller.DeleteManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoomMate</servlet-name>
        <servlet-class>controller.AddRoomMate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home-controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagementLodgingHouses</servlet-name>
        <url-pattern>/management-lodging-houses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLodgingHouse</servlet-name>
        <url-pattern>/delete-lodging-house</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchLodgingHouses</servlet-name>
        <url-pattern>/search-lodging-houses</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>AddTenancyDeposit</servlet-name>
        <url-pattern>/add-tenancy-deposit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTenancyDepositServlet</servlet-name>
        <url-pattern>/view-tenancy-deposit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTenancyDepositServlet</servlet-name>
        <url-pattern>/update-tenancy-deposit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTenancyDepositServlet</servlet-name>
        <url-pattern>/delete-tenancy-deposit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusTenancyDepositServlet</servlet-name>
        <url-pattern>/change-status-tenancy-deposit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListHistoryTenancyDepositServlet</servlet-name>
        <url-pattern>/list-history-tenancy-deposit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TypeOfInvestmentCostsServlet</servlet-name>
        <servlet-class>controller.TypeOfInvestmentCostsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTypeOfInvestmentCostsServlet</servlet-name>
        <servlet-class>controller.DeleteTypeOfInvestmentCostsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTypeOfInvestmentCostServlet</servlet-name>
        <servlet-class>controller.AddTypeOfInvestmentCostServlet</servlet-class>
    </servlet>
    <servlet>
<servlet-name>UpdateTypeOfInvestmentCostsServlet</servlet-name>
        <servlet-class>controller.UpdateTypeOfInvestmentCostsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvestmentCostsServlet</servlet-name>
        <servlet-class>controller.InvestmentCostsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddInvestmentCostsServlet</servlet-name>
        <servlet-class>controller.AddInvestmentCostsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteInvestmentCostsServlet</servlet-name>
        <servlet-class>controller.DeleteInvestmentCostsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInvestmentCostsServlet</servlet-name>
        <servlet-class>controller.UpdateInvestmentCostsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchInvestmentCostsServlet</servlet-name>
        <servlet-class>controller.SearchInvestmentCostsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTypeOfInvestmentCostsServlet</servlet-name>
        <servlet-class>controller.SearchTypeOfInvestmentCostsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TypeOfInvestmentCostsServlet</servlet-name>
        <url-pattern>/type-of-investment-costs-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTypeOfInvestmentCostsServlet</servlet-name>
        <url-pattern>/delete-type-of-investment-costs-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTypeOfInvestmentCostServlet</servlet-name>
        <url-pattern>/add-type-of-investment-cost-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTypeOfInvestmentCostsServlet</servlet-name>
        <url-pattern>/update-type-of-investment-costs-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvestmentCostsServlet</servlet-name>
        <url-pattern>/investment-costs-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddInvestmentCostsServlet</servlet-name>
        <url-pattern>/add-investment-costs-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteInvestmentCostsServlet</servlet-name>
        <url-pattern>/delete-investment-costs-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInvestmentCostsServlet</servlet-name>
        <url-pattern>/update-investment-costs-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchInvestmentCostsServlet</servlet-name>
        <url-pattern>/search-investment-costs-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTypeOfInvestmentCostsServlet</servlet-name>
        <url-pattern>/search-type-of-investment-costs-servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddRoleOfStaffServlet</servlet-name>
        <servlet-class>controller.AddRoleOfStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListRoleOfStaffServlet</servlet-name>
        <servlet-class>controller.ListRoleOfStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRoleOfStaffServlet</servlet-name>
        <servlet-class>controller.UpdateRoleOfStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadDataRoleOfStaffServlet</servlet-name>
        <servlet-class>controller.LoadDataRoleOfStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStaffServlet</servlet-name>
        <servlet-class>controller.ListStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadDataStaffServlet</servlet-name>
        <servlet-class>controller.LoadDataStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <servlet-class>controller.UpdateStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <servlet-class>controller.DeleteStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoleOfStaffServlet</servlet-name>
        <servlet-class>controller.DeleteRoleOfStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStaffServlet</servlet-name>
        <servlet-class>controller.SearchStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateContractServlet</servlet-name>
        <servlet-class>controller.CreateContractServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendContractServlet</servlet-name>
        <servlet-class>controller.SendContractServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddRoleOfStaffServlet</servlet-name>
        <url-pattern>/add-role-of-staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListRoleOfStaffServlet</servlet-name>
        <url-pattern>/list-role-of-staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRoleOfStaffServlet</servlet-name>
        <url-pattern>/update-role-of-staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadDataRoleOfStaffServlet</servlet-name>
        <url-pattern>/load-data-role-of-staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStaffServlet</servlet-name>
        <url-pattern>/list-staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadDataStaffServlet</servlet-name>
        <url-pattern>/load-data-staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <url-pattern>/update-staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <url-pattern>/delete-staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRoleOfStaffServlet</servlet-name>
<url-pattern>/delete-role-of-staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStaffServlet</servlet-name>
        <url-pattern>/search-staff</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomeManager</servlet-name>
        <servlet-class>controller.HomeManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeManager</servlet-name>
        <url-pattern>/home-manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmInvestmentCostsServlet</servlet-name>
        <url-pattern>/confirm-investment-costs-servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateInfoLodgingHouse</servlet-name>
        <servlet-class>controller.UpdateInfoLodgingHouse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateInfoLodgingHouse</servlet-name>
        <url-pattern>/update-info-lodging-house</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddNewLodgingHouse</servlet-name>
        <servlet-class>controller.AddNewLodgingHouse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddNewLodgingHouse</servlet-name>
        <url-pattern>/add-lodging-house</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewManagerHouse</servlet-name>
        <url-pattern>/add-new-manager-house</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationWaitingRoom</servlet-name>
        <url-pattern>/notification-waiting-room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagementmanagerLodgingHouse</servlet-name>
        <url-pattern>/management-manager-lodging-house</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListNotification</servlet-name>
        <url-pattern>/list-notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNotification</servlet-name>
        <url-pattern>/update-notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchNotification</servlet-name>
        <url-pattern>/search-notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailNotification</servlet-name>
        <url-pattern>/detail-notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListNotificationLandlord</servlet-name>
        <url-pattern>/list-notification-landlord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewReceipt</servlet-name>
        <url-pattern>/add-new-receipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetatilNotificationLandlord</servlet-name>
        <url-pattern>/detatil-notification-landlord</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddRoomServlet</servlet-name>
        <servlet-class>controller.AddRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOldContractServlet</servlet-name>
        <servlet-class>controller.ViewOldContractServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchContractServlet</servlet-name>
        <servlet-class>controller.SearchContractServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TenantContractServlet</servlet-name>
        <servlet-class>controller.TenantContractServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteContractServlet</servlet-name>
        <servlet-class>controller.DeleteContractServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOldContractTenantServlet</servlet-name>
        <servlet-class>controller.ViewOldContractTenantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomTenantServlet</servlet-name>
        <servlet-class>controller.RoomTenantServlet</servlet-class>
    </servlet>



    <servlet-mapping>
        <servlet-name>AddRoomServlet</servlet-name>
        <url-pattern>/add-room-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomDetailServlet</servlet-name>
        <url-pattern>/room-detail-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomDetailForTenant</servlet-name>
        <url-pattern>/room-detail-for-tenant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListNotificationForTenant</servlet-name>
        <url-pattern>/list-notification-for-tenant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNotificationForTenant</servlet-name>
        <url-pattern>/update-notification-for-tenant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchNotificationForTenant</servlet-name>
        <url-pattern>/search-notification-tenant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerListReceipt</servlet-name>
        <url-pattern>/manager-list-receipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListNotificationForManager</servlet-name>
        <url-pattern>/list-notification-for-manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchReceipt</servlet-name>
        <url-pattern>/search-receipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetReceiptBySelect1</servlet-name>
        <url-pattern>/get-receipt-by-select</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateReceipt</servlet-name>
        <url-pattern>/update-receipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteReceipt</servlet-name>
        <url-pattern>/delete-receipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailReceipt</servlet-name>
        <url-pattern>/detail-receipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailNewReceipt</servlet-name>
        <url-pattern>/detail-new-receipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteManager</servlet-name>
        <url-pattern>/delete-manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoomMate</servlet-name>
        <url-pattern>/add-roommate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateContractServlet</servlet-name>
        <url-pattern>/create-contract-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendContractServlet</servlet-name>
        <url-pattern>/send-contract-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOldContractServlet</servlet-name>
        <url-pattern>/view-old-contract-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchContractServlet</servlet-name>
        <url-pattern>/search-contract-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TenantContractServlet</servlet-name>
        <url-pattern>/tenant-contract-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteContractServlet</servlet-name>
        <url-pattern>/delete-contract-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOldContractTenantServlet</servlet-name>
        <url-pattern>/view-old-contract-tenant-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomTenantServlet</servlet-name>
        <url-pattern>/room-tenant-servlet</url-pattern>
    </servlet-mapping>


</web-app>
